.product-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  margin-top: -30px;
}

.product-list h2 {
  margin-bottom: 20px;
  font-size: 3rem;
  color: white;
  font-weight: 600;
  font-optical-sizing: auto;
}

.product-display {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  padding: 15px;
}

.product-img {
  max-width: 16em;
  border-radius: 10px;
  margin-bottom: 10px;
  /* height: 250px; */
  transform: scale(0.9);
  transition: transform 0.2s ease-in-out;
}

.product-img:hover {
  transform: scale(1);
}

.product-info h4 {
  font-size: 1.2rem;
  margin: 7px 0 5px;
  color: #333;
}

.product-info p {
  font-size: 1.5rem;
  color: #888;
}

.cta {
  width: 90%;
  margin: 0 auto;
  display: block;
  background-color: #f05c01;
  color: white;
  border: none;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 8px;
  transform: scale(0.9);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.cta:hover {
  background-color: black;
  color: white;
  transform: scale(1);
}
