.hero_container {
  height: 120vh;
  display: grid;
  place-items: center;
}

.hero-content {
  text-align: center;
}

.hero-content h1 {
  font-size: 11rem;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-optical-sizing: auto;
}

.hero-content .hero-img {
  width: 1000px;
  height: 840px;
  object-fit: contain;
  margin-top: -9em;
}
