.cart-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 15px;
}

.cart-left {
  width: 65%;
  background-color: white;
  padding: 20px;
}

.cart-right {
  width: 30%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-weight: bold;
}

.delete-cart {
  font-size: 22px;
}

.cart-header span {
  font-size: 20px;
  margin-left: 20px;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.summary-item .total-cost {
  font-weight: bold;
  font-size: 15px;
}

.checkout {
  width: 100%;
  background-color: red;
  color: white;
  padding: 15px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0;
}

.cart-product-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 50%;
}

.cart-product-detail-img {
  width: 60%;
  height: 60%;
  margin-right: 20px;
}

.product-info h3 {
  margin: 0;
  font-size: 18px;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity button {
  width: 30px;
  height: 30px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
}

.quantity span {
  margin: 0 10px;
}

.price,
.total {
  font-size: 16px;
  color: #333;
}
